/* #region fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Caveat:wght@400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miss+Fajardose&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans+Hebrew:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* #region Garamond */
.eb-garamond-regular {
	font-family: 'EB Garamond', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.eb-garamond-bold {
	font-family: 'EB Garamond', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */
/* #region cardo */
.cardo-regular {
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-style: normal;
}

.cardo-bold {
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-style: normal;
}

.cardo-regular-italic {
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-style: italic;
}
/* #endregion */
/* #region Courier */
.courier-prime-regular {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	font-style: normal;
}

.courier-prime-bold {
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
	font-style: normal;
}

.courier-prime-regular-italic {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	font-style: italic;
}

.courier-prime-bold-italic {
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
	font-style: italic;
}
/* #endregion */
/* #region quicksand */
.quicksand-regular {
	font-family: 'Quicksand', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.quicksand-bold {
	font-family: 'Quicksand', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */
/* #region Montserrat */

.montserrat-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.montserrat-bold {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */
/* #region Inter */

.inter-regular {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-bold {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */
/* #region Poppins */
.poppins-thin {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* #endregion */

/* #region Caveat */

.caveat-regular {
	font-family: 'Caveat', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.caveat-bold {
	font-family: 'Caveat', cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */

/* #region Playpen Sans Hebrew */

.playpen-sans-hebrew-regular {
	font-family: 'Playpen Sans Hebrew', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.playpen-sans-hebrew-bold {
	font-family: 'Playpen Sans Hebrew', cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
/* #endregion */

/* #region Open Sans */
.open-sans-regular {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
.open-sans-bold {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
/* #endregion */

.miss-fajardose-regular {
	font-family: 'Miss Fajardose', cursive;
	font-weight: 400;
	font-style: normal;
}

/* #endregion */

:root {
	background-image: var(--background-image);
	overflow-wrap: break-word;
	word-break: break-word;
	line-height: 1.2em;
}
body {
	margin: 0;
}

h2:not(.align-left):not(.poem-title) {
	text-align: center;
}

h2 {
	line-height: 1em;
}
/* #region Hopeless */
div.hopeless {
	font-family: 'Cardo', 'Times New Roman', serif;
}
div.paper-snippet p.caption,
div.paper-snippet h2,
div.polaroid-caption p.caption {
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	margin-left: 0;
	margin-right: 0;
}

p.caption {
	margin: 20px;
	font-size: 0.9rem;
	text-align: center;
}

/* #region script */

[class^='script'] {
	font-family: 'Courier Prime', monospace;
	font-size: 1rem;
}

.script-character {
	margin-left: 35%;
	margin-right: 35%;
	text-transform: uppercase;
	margin-bottom: 0;
}

.script-dialogue {
	margin: 0 20%;
}
.script-dialogue-modifier {
	margin: 0 27.5%;
}

.script-scene {
	text-transform: uppercase;
}

.script-title {
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
}

.script-split-dialogue {
	width: 100%;
	display: flex;
	& > div {
		width: 50%;
	}
	& .script-dialogue {
		margin: 0 10%;
	}
	& .script-dialogue-modifier {
		margin: 0 20%;
	}
}

/* #endregion */

div.stamp {
	text-transform: uppercase;
	text-align: center;
	& h3 {
		margin: 0;
	}
}
/* #region tables */

table:not(.calendar) {
	border-spacing: 0;
	& th {
		border: 1px solid black;
		padding: 4px;
	}
	border: 1px solid black;
}

tbody *:not(strong) {
	font-weight: 400;
}

table.student-report-subject {
	background: #808080;
	margin-top: 20px;
	border-bottom: none;
	& th {
		border-bottom: none;
	}
}

table:not(.student-report-subject) thead th {
	background: #d4d0c8;
}

/* #region calendar */

table.calendar {
	table-layout: fixed;
	border-spacing: 0;
	empty-cells: show;

	border: 1px solid black;
	& col {
		width: 14.29%;
	}
	& th {
		position: relative;
		border: 1px solid black;
		vertical-align: top;
		& div.calendar-overflow {
			width: calc(100% + 2px);
			height: 80px;
			overflow-y: auto;
			overflow-x: visible;
			margin: 0 -1px;
		}
	}
	& tbody th {
		height: 80px;
	}
}
p[class^='calendar'] {
	margin: 2px 0;
	padding: 2px;
	color: white;
	font-size: 0.8em;
	line-height: 1em;
	text-align: left;
}
p.calendar-youtube-post {
	background-color: #0476c7;
}
p.calendar-performance {
	background-color: #ebcf00;
	color: initial;
}
p.calendar-important-date {
	background-color: #872e89;
}
span.calendar-corner {
	display: block;
	text-align: right;
	font-size: 0.8em;
	margin: -2px 0;
	padding: 0 2px;
}
div.calendar-key {
	width: 100px;
}
/* #endregion */

/* #endregion */

.diary sup {
	line-height: 0;
}
.diary p {
	margin: 0.9em 0;
}
.link {
	/* TODO: Add formatting here */
}
.quote em {
	font-style: normal;
	text-decoration: underline;
}
.quote p {
	margin: 0;
}
/* #endregion */

/* #region Poetry/The Waiting */
div.the-waiting {
	font-family: 'EB Garamond', 'Times New Roman', serif;
}

p.poem-verse {
	text-indent: -1rem;
	margin-left: 1rem;
}

p.poem-prose {
	text-indent: 1rem;
}

/* #endregion */

/* #region Surrender */
div.diarium {
	font-family: Quicksand, sans-serif;
	line-height: 1.5em;
	font-size: 18px;
	& .text p {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

div.texts {
	font-family: Inter, sans-serif;
}

div.text-message p {
	&:first-child {
		margin-top: 0px;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

div.text-message strong,
div.text-message b,
div.text-message bold {
	font-weight: 550;
}

div.obsidian {
	font-family: Poppins, sans-serif;

	line-height: 1.75em;
	& li::marker {
		color: hsl(242, 20%, 50%);
	}
	& p {
		margin: 20px 0;
	}
}

.discord-messages p {
	margin: 0.3em 0;
}
/* #endregion */
